<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link href="/assets/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/blog.css" rel="stylesheet">
	<link href="/assets/breadcrumb-style.css" rel="stylesheet">
	
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	
	<!-- Put this script tag to the <head> of your page -->
	<script type="text/javascript" src="//vk.com/js/api/openapi.js?142"></script>

	<script type="text/javascript">
	  VK.init({apiId: 5949051, onlyWidgets: true});
	</script>
	
	<meta name="yandex-verification" content="805b49eb4e4e9adf" />
	<meta name="google-site-verification" content="Cow6hdfnPNIg8_IaHo9RpbGNwL_xHNus5MdQ3EzQeyE" />
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	
	{% feed_meta %}
</head>
