{% capture url %}{% if page.language%}{{ page.url | remove: "/" | remove: page.language }}{% else %}{{ page.url | remove: "/" }}{% endif %}{% endcapture %}
{% if url.size > 0 %}
  <nav class="breadcrumbs hidden-sm-down">

    <a class="breadcrumb-item" href={{ "/" | prepend: site.baseurl | prepend: site.url }}>Главная</a>

    <ol class="list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">

      <!-- Skip if root -->
      {% if crumb.url == "/" %}
        {% continue %}
      {% endif %}
      
     {% assign counter=0 %}
      
     {% for category in site.categories %}

      {% capture category_url %}{{ site.category_dir }}/{{ category | first | slugize | downcase | replace:' ','-' }}{% endcapture %}
      {% capture category_name %}{{ category | first}}{% endcapture %}

          {% for catpagename in page.categories %}
              {% if category_name == catpagename %}

              {% assign counter=counter | plus:1 %}

              <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                 <a class="breadcrumb-item" itemprop="item" href="{{ site.url }}{{ append:'/' | append:category_url |  append:'/' }}">
                   <span itemprop="name">{{ catpagename }}</span>
                 </a>
                <meta itemprop="position" content="{{counter}}" />
              </li>

              {% endif %}
          {% endfor %}

       {% endfor %}
      
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
             <span class="breadcrumb-item" itemprop="name">{{ page.title }}</span>
        </li>

    </ol>

  </nav>
{% endif %}

------


{% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
{% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
{% assign previous="" %}
<ol>
 {% if num_parts == "0" or num_parts == "-1" %}
  <li><a href="/">home</a> &nbsp; </li>
 {% else %}
  <li><a href="/">home</a> &#187; </li>

  {% for unused in page.content limit:num_parts %}
   {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
   {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}

   <li><a href="{{previous}}">{{ first_word }}</a> &#187; </li>

   {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
  {% endfor %}
 {% endif %}
</ol>
