<!DOCTYPE html>

  {% include head.html %}

  <body>
    <div class="blog-masthead">
      <div class="container">
       {% include top-nav.html %}
  	   </div>
     </div>
     
     <div class="container">
        {% include header.html %}
        <div class="row">
		  <div class="col-md-12">{% include nav-breadcrumbs.html %}</div>
          <div class="col-md-8 blog-main">{{ content }}</div>
		      <div class="col-md-3 col-sm-offset-1 blog-sidebar">{% include sidebar.html %}</div>

        </div>
	   </div>
    <div class="blog-footer">
      {% include footer.html %}
    </div>
	
  <!--script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//asdasd-6.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript-->
	  
	<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
	<script src="//yastatic.net/share2/share.js"></script>      
	  
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
	    (function (d, w, c) {
		(w[c] = w[c] || []).push(function() {
		    try {
			w.yaCounter43813279 = new Ya.Metrika({
			    id:43813279,
			    clickmap:true,
			    trackLinks:true,
			    accurateTrackBounce:true,
			    webvisor:true
			});
		    } catch(e) { }
		});

		var n = d.getElementsByTagName("script")[0],
		    s = d.createElement("script"),
		    f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = "https://mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
		    d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
	    })(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/43813279" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
  </body>

</html>
